#html{
    width: 100%;
    height: 300px;
    background-color: black;
}

.img{
    width: 90%;
    height: 90%;

}

#header{
    background-color: black;
}

#header > span{
    color: aliceblue;
}

#one{
    width: 100%;
    height: 100px;
    background-color: bisque;
}